# Core dependencies
pydantic==2.11.*
pydantic-settings==2.10.*
python-dotenv==1.1.*
requests==2.32.*
urllib3==2.5.*

# API dependencies
fastapi==0.116.*
uvicorn[standard]==0.35.*
websockets==15.0.1

# MT5 dependencies
mt5linux
MetaTrader5==5.0.36
pyxdg